<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 
	    linux环境需要将${webapp.root}替换为${catalina.home}
	    
		org.apache.log4j.ConsoleAppender            将日志输出到控制台
		org.apache.log4j.FileAppender               将日志输出到文件
		org.apache.log4j.DailyRollingFileAppender   每天产生一个日志文件
		org.apache.log4j.RollingFileAppender        文件大小到达指定尺寸时产生一个新的文件
		org.apache.log4j. WriterAppender            将日志信息以流格式发送到任意指定的地方
		
       * 1. 一个appender子元素定义一个日志输出目的地
       * 2. 一个logger子元素定义一个日志写出器
	 -->
	<!-- 订单入库分发机制日志 -->
	

	<!-- 控制台 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="info" />
		<PatternLayout charset="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%d{yyyy-MM-dd HH:mm:ss,SSS}][%c] :%m%n" />
		</layout>
	</appender>
	
    
    <!--
        root的作用(相当于全局的意思):
        1.[priority ]:指定默认的全局输出级别
        2.[appender-ref ]:指定一些默认的append（没有指出特殊包或者类，即那些没有指定<logger>元素的append）的输出；
    -->
	<root>
		<level value="INFO" />
        <!-- 将 logger 中 additivity=true 的日志或者没有指定<logger>的append输出到控制台 -->
		<appender-ref ref="console" />
	</root>
</log4j:configuration>